body{
    background-color: rgb(32, 130, 110);
    margin: 10px;
    font-family: initial;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 190px;
}

.mainImg {
    height: 15rem;
    padding: 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-image: url(../Index/Main\ Img.jpeg);
    background-size: cover;
    background-position: bottom;
}

.container-fluid {
    padding: 0%;
    background-color: rgb(10, 68, 73);
}

.navbar {
    padding: 0%;
}

a {
    margin-right: 30px;
    color: black;
}

.nav-link:hover {
    color: rgb(2, 188, 188);
    box-shadow: 1px 1px 10px rgb(2, 188, 188);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

h2 {
    color: black;
}

#page {
    display: block;
    width: 100%;
    min-height: 100vh;
}

#form {
    display: block;
    position: absolute;
    left: 25%;
    top: 50%;
    height: auto;
}








button {
    margin-top: 5px;
    border: 2px solid rgb(10, 68, 73);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.button:hover {
    box-shadow: 1px 1px 10px rgb(2, 188, 188);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 68, 73);
    color: black;
    text-align: center;
  }

  .footerTitle {
      font-weight: bold;
  }

  .websiteLinks {
      margin-right: 2px;
      text-decoration: none;
      font-size: large;
      font-weight: bold;
  }

  .websiteLinks:hover {
      color: white;
  }

  .outsideLinks {
      padding-left: 10px;
      font-size: xx-large;
  }

  .outsideLinks:hover {
      color: white;
  }